table,
    th,
    td {
        border: 1px solid;
        zoom: 1;
    }
.header {
    display: flex;
    text-align: center;
}

.tablemoun {
    width: 50%;
}

.places {
    display: flex;
}

.place-1 {
    float: right;
    padding: 1em;
    margin: 1em;
}

.place-2 {
    float: right;
    padding: 1em;
    margin: 1em;
}

.place-3 {
    float: right;
    padding: 1em;
    margin: 1em;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.img {
    float: left;
    padding: 1em;
    margin: 1em ;
}  

.side-bar {
    float: left;
    text-align: right;
    padding: 1em;
}

.text {
    text-align: left;
    padding: 1em;
    margin: 1em;
    }
  
.img1 {
    float: right;
    padding: 1em;
    margin: 1em;
}    

.img2 {
    float: right;
    padding: 1em;
    margin: 1em;
}

.img3 {
    float: right;
    padding: 1em;
    margin: 1em;
}

@media(max-width:800px) {

    table,
    th,
    td {
        border: 1px solid;
        zoom: 1.2;
    }

    .clearfix {
        overflow: auto;
        zoom: 1;
    }

    .img {
        float: left;
        /* padding: 1em;
        margin: 1em ; */
    }

    .side-bar {
        float: left;
        text-align: right;
        /* padding: 1em; */
    }
    
    .text {
        text-align: left;
        /* padding: 1em;
        margin: 1em; */
        }

    .places {
        flex-direction: column;
    }

    .place-1 {
        float: right;
        padding: 1em;
        margin: 1em;
    }

    .place-2 {
        float: right;
        padding: 1em;
        margin: 1em;
    }

    .place-3 {
        float: right;
        padding: 1em;
        margin: 1em;
    }

    .img1 {
        float: right;
        padding: 1em;
        margin: 1em;
    }    
    
    .img2 {
        float: left;
        padding: 1em;
        margin: 1em;
    }
    
    .img3 {
        float: right;
        padding: 1em;
        margin: 1em;
    }
}    